{
    "openapi": "3.0.0",
    "info": {
        "title": "ORDS generated API for WASICYCLES_PLAYERINFO",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://mydatabase-financialdb.adb.eu-frankfurt-1.oraclecloudapps.com/ords/admin/playerinfo"
        }
    ],
    "paths": {
        "/": {
            "delete": {
                "description": "Remove a record from WASICYCLES_PLAYERINFO",
                "responses": {
                    "204": {
                        "description": "Deleted result."
                    }
                },
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "JSON QBE parameter."
                    }
                ]
            },
            "get": {
                "description": "Retrieve records from WASICYCLES_PLAYERINFO",
                "responses": {
                    "200": {
                        "description": "The queried record.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/playerinfo_ITEM"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "JSON QBE parameter."
                    }
                ]
            },
            "post": {
                "description": "Create a new record on WASICYCLES_PLAYERINFO",
                "responses": {
                    "201": {
                        "description": "The successfully created record.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/playerinfo_ITEM"
                                }
                            }
                        }
                    }
                },
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/playerinfo_ITEM"
                            }
                        }
                    }
                }
            }
        },
        "/batchload": {
            "post": {
                "description": "Create new records on WASICYCLES_PLAYERINFO",
                "responses": {
                    "200": {
                        "description": "The status of the processed records.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "parameters": [],
                "requestBody": {
                    "content": {
                        "text/csv": {
                            "schema": {}
                        }
                    }
                }
            }
        },
        "/{id}": {
            "delete": {
                "description": "Remove a record from WASICYCLES_PLAYERINFO",
                "responses": {
                    "204": {
                        "description": "Deleted result."
                    }
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "^[^/]+$"
                        },
                        "description": "Primary key(s):  player_id"
                    }
                ]
            },
            "get": {
                "description": "Retrieve a record from WASICYCLES_PLAYERINFO",
                "responses": {
                    "200": {
                        "description": "The queried record.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/playerinfo_ITEM"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "^[^/]+$"
                        },
                        "description": "Primary key(s):  player_id"
                    }
                ]
            },
            "put": {
                "description": "Create or update a record on WASICYCLES_PLAYERINFO",
                "responses": {
                    "200": {
                        "description": "The successfully updated record.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/playerinfo_ITEM"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "The successfully created record.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/playerinfo_ITEM"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "^[^/]+$"
                        },
                        "description": "Primary key(s):  player_id"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/playerinfo_ITEM"
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "NUMBER": {
                "type": "number"
            },
            "TIMESTAMP": {
                "type": "string",
                "format": "date-time",
                "pattern": "^\\d{4}-[01]\\d-[0123]\\dT[012]\\d:[0-5]\\d:[0-5]\\d(.\\d+)?(Z|([-+][012]\\d:[0-5]\\d))$"
            },
            "VARCHAR2": {
                "type": "string"
            },
            "playerinfo_ITEM": {
                "properties": {
                    "game_timestamp": {
                        "$ref": "#/components/schemas/TIMESTAMP"
                    },
                    "player_email": {
                        "$ref": "#/components/schemas/VARCHAR2"
                    },
                    "player_id": {
                        "x-ords-primary-key": "true",
                        "$ref": "#/components/schemas/VARCHAR2"
                    },
                    "player_name": {
                        "$ref": "#/components/schemas/VARCHAR2"
                    },
                    "player_score": {
                        "$ref": "#/components/schemas/NUMBER"
                    },
                    "runtime": {
                        "$ref": "#/components/schemas/VARCHAR2"
                    },
                    "tshirtsize": {
                        "$ref": "#/components/schemas/VARCHAR2"
                    }
                }
            }
        }
    }
}